<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d [%thread] %-5level [%logger{35}] - [%X{uuid}] %msg%n----%n%ex{full}</pattern>
    </layout>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/var/log/open-api/%d{yyyy-MM-dd}.log</FileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
      <triggeringPolicy
        class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>100MB</maxFileSize>
      </triggeringPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d [%thread] %-5level [%logger{35}] - [%X{uuid}] %msg%n----%n%ex{full}</Pattern>
    </layout>
  </appender>

  <logger name="com.fangcloud.sdk.request.RequestClient">
    <level value="info"/>
  </logger>
  <logger name="com.fangcloud.sdk.request.intercept.RequestIntercept">
    <level value="info"/>
  </logger>
  <root>
    <level value="info" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>